#   /home/tux/workspace/bitbucket.org/empreender/.gitignore
#
#
#   Ignore directories by entering the directory name into the file (with a slash appended):
src/main/webapp/resources/bower_components/
Bootstrap/sb-admin-jsf/src/main/webapp/resources/eve/
Bootstrap/sb-admin-jsf/src/main/webapp/resources/bootstrap-social/
Bootstrap/sb-admin-jsf/src/main/webapp/resources/bootstrap/
Bootstrap/sb-admin-jsf/src/main/webapp/resources/datatables-plugins/
Bootstrap/sb-admin-jsf/src/main/webapp/resources/datatables-responsive/
Bootstrap/sb-admin-jsf/src/main/webapp/resources/datatables/
Bootstrap/sb-admin-jsf/src/main/webapp/resources/flot.tooltip/
Bootstrap/sb-admin-jsf/src/main/webapp/resources/flot/
Bootstrap/sb-admin-jsf/src/main/webapp/resources/font-awesome/
Bootstrap/sb-admin-jsf/src/main/webapp/resources/holderjs/
Bootstrap/sb-admin-jsf/src/main/webapp/resources/jquery/
Bootstrap/sb-admin-jsf/src/main/webapp/resources/metisMenu/
Bootstrap/sb-admin-jsf/src/main/webapp/resources/mocha/
Bootstrap/sb-admin-jsf/src/main/webapp/resources/morrisjs/
Bootstrap/sb-admin-jsf/src/main/webapp/resources/raphael/
RemoteSystemsTempFiles/
nbproject/
target/
dist/
tmp/
build/
.metadata/
.project/
Servers/
target/
dist/
bin/
lib/
docs/negocio/
docs/template/
docs/OpenShift/
docs/manual-usuario/



#    Ignore files
hs_err*.log
.settings
.nbattrs
.project
*.class
nb-configuration.xml
*.class
*.tar.gz
*.*~
*.swo
*.swp
*.commandLog
*.snapshot
src/main/resources/META-INF/.persistence.xml.swp
docs/umlet/*.png
docs/umlet/*.jpg
sample.log
sample.properties
npm-debug.log
